# Ignore Python environment
venv/
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Optionally ignore raw data
data/

# Keep model/artifacts folder
# artifacts/
